@media print,
(max-width: 1439px)
{
    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 48px;

        gap: 48px;
    }


    .page_head .image
    {
        height: 300px;
    }



    /*-----------------
        First section
    -----------------*/
    .first_section .cont
    {
        min-height: 650px;
        padding-bottom: 60px;
    }


    .first_section .scroll_down_btn
    {
        width: 80px;
        height: 80px;
    }



    /*-----------
        Reels
    -----------*/
    .reels
    {
        right: 40px;
        bottom: 40px;

        margin-right: 0;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .head .summary
    {
        width: 480px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        min-height: 300px;
        padding: 40px 60px;
    }


    .action_block .desc.big_w
    {
        width: 540px;
    }


    .action_block .person .info
    {
        left: -104px;
    }



    /*---------------
        Excursion
    ---------------*/
    .excursion .video
    {
        height: 464px;
    }



    /*---------------------
        Factory gallery
    ---------------------*/
    .factory_gallery .item .thumb
    {
        height: 160px;
    }


    .factory_gallery .item.big1 .thumb,
    .factory_gallery .item.big2 .thumb
    {
        height: 330px;
    }


    .factory_gallery .item .name
    {
        font-size: 18px;
    }



    /*--------------------
        Our production
    --------------------*/
    .our_production .block_head .desc
    {
        width: 432px;
    }


    .our_production .head
    {
        height: 360px;
        margin-bottom: 48px;
        padding: 48px 0;
    }



    /*--------------
        Fittings
    --------------*/
    .fittings .slogan
    {
        margin-top: 28px;
    }
}
