@media (max-width: 549px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 28px;
        --font_size_title_medium: 20px;
        --font_size_title_small: 18px;
    }


    .bg_grey.small_pad_top
    {
        padding-top: 40px;
    }


    .cont
    {
        padding: 0 17px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 24px;
    }


    .pagination a
    {
        width: 35px;
        height: 35px;
    }



    /*------------
        Header
    ------------*/
    header .close_btn
    {
        top: 21px;
        right: 17px;
    }


    header .logo img
    {
        width: 139px;
        height: 28px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .logo img
    {
        width: 139px;
        height: 28px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .image
    {
        height: 311px;
    }


    .page_head .image.mob_hide
    {
        display: none;
    }


    .page_head .image.mob_hide + *
    {
        margin-top: 80px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title.small
    {
        font-size: var(--font_size_title_medium);
    }


    .block_head .title small
    {
        font-weight: 200;

        margin-top: 5px;

        text-transform: none;
    }



    /*-----------------
        First section
    -----------------*/
    .first_section .cont
    {
        height: 100svh;
        min-height: auto;
        padding-bottom: 140px;
    }



    .first_section .title
    {
        font-size: var(--font_size_title);
    }


    .first_section .scroll_down_btn
    {
        height: 60px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        margin-left: 0;
    }


    .why_we .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .why_we .item
    {
        min-height: 220px;
    }


    .why_we .item .desc br
    {
        display: none;
    }


    .why_we .item .image5
    {
        right: -14px;
        bottom: -20px;
        left: auto;
    }


    .why_we .item .image5 img
    {
        width: 137px;
        height: 139px;
        margin-left: auto;
    }

    .why_we .item .image6 img
    {
        width: 120px;
        height: 104px;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .head .summary
    {
        top: 3px;
    }


    .portfolio .row
    {
        margin-bottom: -17px;
    }


    .portfolio .row > *
    {
        margin-bottom: 17px;
    }


    .portfolio .project .price
    {
        text-align: right;

        gap: 0;
    }


    .portfolio .project .price .val
    {
        line-height: 125%;

        width: 100%;
    }


    .portfolio .project .info .col
    {
        width: 100%;
    }


    .portfolio .project .link
    {
        width: 100%;
        margin-top: 16px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        padding: 28px 20px;
    }


    .action_block .title
    {
        font-size: var(--font_size_title);
    }


    .action_block .person .info
    {
        left: 20px;
    }



    /*---------------
        Excursion
    ---------------*/
    .excursion .data .info
    {
        padding: 30px 20px;
    }


    .excursion .data .title
    {
        font-size: var(--font_size_title);
    }



    /*--------------------
        Portfolio item
    --------------------*/
    .portfolio_item .stats
    {
        gap: 10px;
    }


    .portfolio_item .stats .item
    {
        width: calc(50% - 5px);
        height: 112px;

        gap: 10px;
    }


    .portfolio_item .gallery
    {
        width: 100%;
        margin-left: 0;
    }


    .portfolio_item .gallery .item,
    .portfolio_item .gallery .item.big_w
    {
        width: 100%;
        margin-left: 0;
    }


    .portfolio_item .gallery .image,
    .portfolio_item .gallery .image.big_h
    {
        height: 200px;
    }

    .portfolio_item .gallery .image.mob_big_h
    {
        height: 400px;
    }



    /*---------------------
        Factory gallery
    ---------------------*/
    /* .factory_gallery .grid .big1
    {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }

    .factory_gallery .grid .big2
    {
        grid-column: 2 / 4;
        grid-row: 4 / 6;
    } */


    .factory_gallery .item .name
    {
        font-size: 12px;

        padding: 10px;
    }


    .factory_gallery .item .thumb
    {
        height: 76px;
    }

    .factory_gallery .item.big1 .thumb,
    .factory_gallery .item.big2 .thumb
    {
        height: 158px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .step
    {
        padding: 15px 10px 10px;
    }


    .steps .step .btn
    {
        font-size: 10px;

        height: 31px;
        margin-top: 12px;
        padding: 0 5px;
    }


    .steps .step .arrow
    {
        margin-top: 16px;
    }



    /*--------------------
        Our production
    --------------------*/
    .our_production .head
    {
        padding: 24px 0;
    }



    .our_production .standarts .desc
    {
        font-size: 12px;
    }



    /*--------------
        Fittings
    --------------*/
    .fittings .brands .row
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }


    .fittings .brands .row > *
    {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .fittings .brands .brand
    {
        height: 80px;
    }



    .fittings .gallery .swiper-slide
    {
        width: 188px;
    }



    /*-----------------------------
        Interior design gallery
    -----------------------------*/
    .interior_design_gallery .grid
    {
        height: 600px;
        height: 588px;

        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }


    .interior_design_gallery .item1
    {
        grid-area: 1 / 1 / 4 / 6;
    }

    .interior_design_gallery .item2
    {
        grid-area: 4 / 4 / 7 / 9;
    }

    .interior_design_gallery .item3
    {
        grid-area: 1 / 6 / 4 / 9;
    }

    .interior_design_gallery .item4
    {
        grid-area: 7 / 5 / 9 / 9;
    }

    .interior_design_gallery .item5
    {
        grid-area: 7 / 1 / 9 / 5;
    }

    .interior_design_gallery .item6
    {
        grid-area: 4 / 1 / 7 / 4;
    }


    .interior_design_gallery .item .name
    {
        font-size: 14px;
    }


    .interior_design_gallery .item .types
    {
        font-size: 10px;

        margin-top: 12px;
    }


    .interior_design_gallery .item1 .types
    {
        width: 116px;
    }

    .interior_design_gallery .item2 .types
    {
        width: 128px;
    }


    .interior_design_gallery .item .types .icon
    {
        width: 14px;
        height: 14px;
    }



    /*-----------------
        Exact match
    -----------------*/
    .exact_match .before_after .image img
    {
        height: 240px;
    }


    .exact_match .before_after .image .sticker
    {
        font-size: 10px;

        top: 10px;
        left: 10px;

        padding: 5px 10px;
    }

    .exact_match .before_after .image .sticker.after
    {
        right: 10px;
    }


    .exact_match .why .item
    {
        height: 207px;
        padding: 10px 15px;
    }


    .exact_match .why .item .image2
    {
        bottom: -35px;
        left: -9px;
    }

    .exact_match .why .item .image3
    {
        bottom: -47px;
        left: -80px;
    }

    .exact_match .why .item .image4
    {
        bottom: -10px;
    }


    .exact_match .why .item .image1 img
    {
        width: 165px;
        height: 115px;
    }

    .exact_match .why .item .image2 img
    {
        width: 166px;
        height: 158px;
    }

    .exact_match .why .item .image3 img
    {
        width: 256px;
        height: 171px;
    }

    .exact_match .why .item .image4 img
    {
        width: 165px;
        height: 131px;
    }



    /*-------------------
        What included
    -------------------*/
    .what_included .item .thumb
    {
        width: 120px;
        height: 85px;
    }


    .what_included .item .thumb + *
    {
        width: calc(100% - 135px);
        min-height: 85px;

        gap: 8px;
    }



    /*------------
        Prices
    ------------*/
    .prices table th
    {
        font-size: 14px;
    }


    .prices table td.price
    {
        width: 104px;
    }
}
