@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 13px;
        --font_size_title: 56px;
        --font_size_title_medium: 38px;
        --font_size_title_small: 28px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .bg_grey
    {
        padding: 80px 0;
    }



    .block
    {
        margin-bottom: 80px;
    }



    .cont
    {
        padding: 0 24px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 20px 64px 20px 20px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
    }


    .accordion_item .head .icon
    {
        right: 20px;
    }


    .accordion_item .data
    {
        padding: 0 20px 20px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 16px 0;
    }


    header .logo img
    {
        width: 180px;
        height: 36px;
    }


    header .menu_wrap
    {
        padding: 8px;

        gap: 8px;
    }


    header .menu
    {
        gap: 4px;
    }


    header .langs a
    {
        padding: 4px 12px;
    }


    header .phones .btn
    {
        width: 208px;
        padding: 8px;
    }


    header .phones .mini_modal
    {
        min-width: 208px;
    }


    header .location
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }

    .block_head.medium_m
    {
        margin-bottom: 40px;
    }


    .block_head.pad_r
    {
        padding-right: 138px;
    }



    /*-----------------
        First section
    -----------------*/
    .first_section .title
    {
        width: 724px;
    }


    .first_section .title span:after
    {
        bottom: -8px;
        left: -4px;

        width: 139px;
        height: 13px;
    }


    .first_section .desc
    {
        font-size: 16px;

        width: 592px;
    }


    .first_section .scroll_down_btn .icon
    {
        width: 36px;
        height: 20px;
    }



    /*-----------
        Reels
    -----------*/
    .reels
    {
        right: 24px;
        bottom: 24px;
    }



    /*--------------
        Services
    --------------*/
    .services .service
    {
        min-height: 188px;
    }


    .services .service .name
    {
        font-size: 18px;
    }



    /*----------------
        About info
    ----------------*/
    .bg_grey .about_info
    {
        margin-bottom: -40px;
    }



    .about_info .advantages
    {
        margin-bottom: -24px;
        margin-left: -48px;
    }


    .about_info .advantages > *
    {
        width: calc(50% - 48px);
        margin-bottom: 24px;
        margin-left: 48px;
    }


    .about_info .advantages .name
    {
        font-size: 18px;
    }



    .about_info .stats
    {
        margin-top: 60px;
    }


    .about_info .stats .title
    {
        gap: 24px;
    }


    .about_info .stats .data
    {
        width: calc(100% - 240px);
    }


    .about_info .stats .val div
    {
        font-size: 20px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .block_head .title br
    {
        display: block;
    }


    .projects .block_head .all_link
    {
        display: flex;
        align-content: center;
        align-items: center;
        align-self: flex-end;
        flex-wrap: wrap;
        justify-content: flex-start;

        height: 62px;
    }


    .projects .swiper-button-next,
    .projects .swiper-button-prev
    {
        top: -99px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .start,
    .steps .finish
    {
        min-height: 300px;
    }


    .steps .start .name,
    .steps .finish .name
    {
        font-size: 18px;
    }



    .steps .step
    {
        min-height: 300px;
        padding: 30px 20px 20px 20px;
    }


    .steps .step .name
    {
        font-size: 18px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .item
    {
        min-height: 360px;
    }


    .why_we .item .name
    {
        font-size: 18px;
    }


    .why_we .item .image img
    {
        max-width: 85%;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .head
    {
        margin-bottom: 48px;
    }


    .portfolio .head .block_head
    {
        width: calc(100% - 448px);
    }


    .portfolio .head .summary
    {
        width: 380px;
        padding-top: 6px;
    }



    .portfolio .filter
    {
        margin-bottom: 48px;

        gap: 12px;
    }


    .portfolio .filter.pad_r
    {
        padding-right: 138px;
    }


    .portfolio .swiper-button-next,
    .portfolio .swiper-button-prev
    {
        top: -81px;
    }



    .portfolio .project .images
    {
        gap: 4px;
    }


    .portfolio .project .images .big
    {
        width: calc(100% - 144px);
    }


    .portfolio .project .images .small
    {
        width: 140px;

        gap: 4px;
    }


    .portfolio .project .images .image
    {
        height: 140px;
    }

    .portfolio .project .images .big .image
    {
        height: 284px;
    }


    .portfolio .project .name
    {
        font-size: 18px;
    }


    .portfolio .project .price .val
    {
        font-size: 18px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        min-height: 280px;
        padding: 48px;

        background-position: calc(100% + 160px) calc(50% + 80px);
        background-size: 720px 720px;
    }


    .action_block .desc
    {
        font-size: 16px;

        width: 360px;
        margin-top: 24px;
    }



    .action_block .person .info
    {
        bottom: 30px;
        left: -124px;
    }


    .action_block .person .photo
    {
        width: 380px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .block_head
    {
        width: 428px;
    }


    .FAQ .messengers
    {
        margin-top: 40px;
    }


    .FAQ .accordion
    {
        width: calc(100% - 476px);
    }



    /*---------------
        Excursion
    ---------------*/
    .excursion .data
    {
        width: 448px;
        margin-right: -80px;
    }


    .excursion .data .info
    {
        padding: 30px;
    }


    .excursion .data .desc
    {
        font-size: 16px;

        margin-top: 20px;
    }


    .excursion .data .messengers
    {
        margin-top: 30px;
    }


    .excursion .data .in_progress
    {
        font-size: 16px;

        margin-top: 40px;
        padding-right: 124px;
    }



    .excursion .video
    {
        width: calc(100% - 368px);
        height: 388px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .count
    {
        width: 180px;
    }


    .partners .count .label
    {
        font-size: 16px;

        margin-bottom: 8px;
    }


    .partners .swiper
    {
        width: calc(100% - 224px);
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        margin-bottom: 48px;
    }


    footer .contacts
    {
        width: 360px;
    }


    footer .menu
    {
        width: 400px;
        margin-left: 100px;
    }
}
