@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 13px;
        --font_size_title: 56px;
        --font_size_title_medium: 38px;
        --font_size_title_small: 28px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .bg_grey
    {
        padding: 80px 0;
    }



    .block
    {
        margin-bottom: 80px;
    }



    .cont
    {
        padding: 0 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 20px 64px 20px 20px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
    }


    .accordion_item .head .icon
    {
        right: 20px;
    }


    .accordion_item .data
    {
        padding: 0 20px 20px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 16px 0;
    }


    header .logo img
    {
        width: 180px;
        height: 36px;
    }


    header .menu_wrap
    {
        padding: 8px;

        gap: 8px;
    }


    header .menu
    {
        gap: 4px;
    }


    header .sub_menu
    {
        max-width: calc(100vw - 48px);
    }


    header .sub_menu .categories
    {
        width: 224px;
    }


    header .sub_menu .sub
    {
        width: calc(100% - 264px);
    }


    header .sub_menu .sub .title
    {
        font-size: 18px;
    }


    header .sub_menu .sub .cols
    {
        gap: 30px;
    }


    header .sub_menu .sub .col
    {
        width: 200px;
    }


    header .langs a
    {
        padding: 4px 12px;
    }


    header .phones .btn
    {
        width: 208px;
        padding: 8px;
    }


    header .phones .mini_modal
    {
        min-width: 208px;
    }


    header .location
    {
        display: none;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        gap: 40px;
    }


    .page_head .image
    {
        height: 260px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }

    .block_head.medium_m
    {
        margin-bottom: 40px;
    }


    .block_head.pad_r
    {
        padding-right: 138px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul li:before
    {
        top: 8px;
    }



    /*-----------------
        First section
    -----------------*/
    .first_section .cont
    {
        height: var(--first_section_height);
    }


    .first_section .title
    {
        width: 724px;
    }


    /* .first_section .title span:before
    {
        bottom: -1px;

        width: calc(100% - 131px);
        height: 2px;
    } */


    /* .first_section .title span:after
    {
        width: 139px;
        height: 13px;
    } */


    .first_section .desc
    {
        font-size: 16px;

        width: 592px;
    }


    .first_section .scroll_down_btn .icon
    {
        width: 36px;
        height: 20px;
    }



    /*-----------
        Reels
    -----------*/
    .reels
    {
        right: 24px;
        bottom: 24px;
    }



    /*--------------
        Services
    --------------*/
    .services .service
    {
        min-height: 188px;
    }


    .services .service .name
    {
        font-size: 18px;
    }



    /*----------------
        About info
    ----------------*/
    .bg_grey .about_info
    {
        margin-bottom: -40px;
    }



    .about_info .advantages
    {
        margin-bottom: -24px;
        margin-left: -48px;
    }


    .about_info .advantages > *
    {
        width: calc(50% - 48px);
        margin-bottom: 24px;
        margin-left: 48px;
    }


    .about_info .advantages .name
    {
        font-size: 18px;
    }



    .about_info .stats
    {
        margin-top: 60px;
    }


    .about_info .stats .title
    {
        gap: 24px;
    }


    .about_info .stats .data
    {
        width: calc(100% - 240px);
    }


    .about_info .stats .val div
    {
        font-size: 20px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .block_head .title br
    {
        display: block;
    }


    .projects .block_head .all_link
    {
        display: flex;
        align-content: center;
        align-items: center;
        align-self: flex-end;
        flex-wrap: wrap;
        justify-content: flex-start;

        height: 62px;
    }


    .projects .swiper-button-next,
    .projects .swiper-button-prev
    {
        top: -99px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .start,
    .steps .finish
    {
        min-height: 300px;
    }


    .steps .start .name,
    .steps .finish .name
    {
        font-size: 18px;
    }



    .steps .step
    {
        min-height: 300px;
        padding: 30px 20px 20px 20px;
    }


    .steps .step .name
    {
        font-size: 18px;
    }


    .steps .step .btn
    {
        width: 100%;
    }



    /*------------
        Why we
    ------------*/
    .why_we .item
    {
        min-height: 360px;
    }


    .why_we .item .name
    {
        font-size: 18px;
    }


    .why_we .item .image1
    {
        bottom: -40px;
        left: -88px;
    }

    .why_we .item .image2
    {
        bottom: 0;
        left: -48px;
    }

    .why_we .item .image3
    {
        bottom: 0;
        left: -44px;
    }

    .why_we .item .image4
    {
        bottom: -92px;
    }


    .why_we .item .image1 img
    {
        width: 308px;
        height: 205px;
    }

    .why_we .item .image2 img
    {
        width: 272px;
        height: 182px;
    }

    .why_we .item .image3 img
    {
        width: 236px;
        height: 154px;
    }

    .why_we .item .image4 img
    {
        width: 236px;
        height: 354px;
    }

    .why_we .item .image5 img
    {
        width: 120px;
        height: 121px;
    }

    .why_we .item .image6 img
    {
        width: 160px;
        height: 139px;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .head
    {
        margin-bottom: 48px;
    }


    .portfolio .head .block_head
    {
        width: calc(100% - 448px);
    }


    .portfolio .head .summary
    {
        width: 380px;
        padding-top: 6px;
    }



    .portfolio .filter
    {
        margin-bottom: 48px;

        gap: 12px;
    }


    .portfolio .filter.center
    {
        margin-bottom: 40px;
    }


    .portfolio .filter.pad_r
    {
        padding-right: 138px;
    }


    .portfolio .swiper-button-next,
    .portfolio .swiper-button-prev
    {
        top: -81px;
    }



    .portfolio .project .images
    {
        gap: 4px;
    }


    .portfolio .project .images .big
    {
        width: calc(100% - 144px);
    }


    .portfolio .project .images .small
    {
        width: 140px;

        gap: 4px;
    }


    .portfolio .project .images .image
    {
        height: 140px;
    }

    .portfolio .project .images .big .image
    {
        height: 284px;
    }


    .portfolio .project .info .col
    {
        width: calc(100% - 144px);
    }


    .portfolio .project .name
    {
        font-size: 18px;
    }


    .portfolio .project .price .val
    {
        font-size: 18px;
    }


    .portfolio .project .link
    {
        width: 140px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        min-height: 280px;
        padding: 40px 48px;

        background-position: calc(100% + 160px) calc(50% + 80px);
        background-size: 720px 720px;
    }


    .action_block .desc
    {
        font-size: 16px;

        width: 360px;
        margin-top: 24px;
    }


    .action_block .desc.big_w
    {
        width: 400px;
    }



    .action_block .person .info
    {
        bottom: 30px;
        left: -124px;
    }


    .action_block .person .photo
    {
        width: 380px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .block_head
    {
        width: 428px;
    }


    .FAQ .messengers
    {
        margin-top: 40px;
    }


    .FAQ .accordion
    {
        width: calc(100% - 476px);
    }



    /*---------------
        Excursion
    ---------------*/
    .excursion .data
    {
        width: 448px;
        margin-right: -80px;
    }


    .excursion .data .info
    {
        padding: 30px;
    }


    .excursion .data .desc
    {
        font-size: 16px;

        margin-top: 20px;
    }


    .excursion .data .messengers
    {
        margin-top: 30px;
    }


    .excursion .data .in_progress
    {
        font-size: 16px;

        margin-top: 40px;
        padding-right: 124px;
    }



    .excursion .video
    {
        width: calc(100% - 368px);
        height: 388px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .count
    {
        width: 180px;
    }


    .partners .count .label
    {
        font-size: 16px;

        margin-bottom: 8px;
    }


    .partners .swiper
    {
        width: calc(100% - 224px);
    }



    /*--------------------
        Portfolio item
    --------------------*/
    .portfolio_item .project_name
    {
        width: calc(100% - 228px);
        min-height: 56px;
    }



    .portfolio_item .stats
    {
        flex-wrap: wrap;
    }


    .portfolio_item .stats .item
    {
        width: calc(50% - 10px);
        height: 140px;
    }


    .portfolio_item .stats .item:last-child
    {
        width: 100%;
    }


    .portfolio_item .stats .val div
    {
        font-size: 20px;
    }



    .portfolio_item .gallery .image
    {
        height: 192px;
    }

    .portfolio_item .gallery .image.big_h
    {
        height: 384px;
    }



    /*---------------------
        Factory gallery
    ---------------------*/
    .factory_gallery .item .name
    {
        font-size: 16px;

        padding: 15px;
    }


    .factory_gallery .item .thumb
    {
        height: 132px;
    }


    .factory_gallery .item.big1 .thumb,
    .factory_gallery .item.big2 .thumb
    {
        height: 274px;
    }


    .factory_gallery .item .arrow
    {
        bottom: 15px;
    }



    /*--------------------
        Our production
    --------------------*/
    .our_production .block_head .title
    {
        width: 100%;
    }


    .our_production .block_head .desc
    {
        width: 100%;
        margin-top: 20px;
    }



    .our_production .head
    {
        height: 300px;
        margin-bottom: 40px;
        padding: 40px 0;
    }



    .our_production .item
    {
        width: 292px;
        min-height: 292px;
    }

    .our_production .item.middle_w
    {
        width: 328px;
    }

    .our_production .item.big_w
    {
        width: 328px;
    }


    .our_production .item .name
    {
        font-size: 18px;
    }


    .our_production .video
    {
        width: calc(100% - 612px);
        min-height: 292px;
    }

    .our_production .video.medium_w
    {
        width: calc(100% - 628px);
    }

    .our_production .video.small_w
    {
        width: calc(100% - 788px);
    }


    .our_production .image
    {
        width: 260px;
        min-height: 292px;
    }

    .our_production .image.small_w
    {
        width: 240px;
    }


    .our_production .standarts
    {
        width: 400px;
        padding: 24px 20px;
    }


    .our_production .standarts .logo,
    .our_production .standarts .logo img
    {
        max-height: 96px;
    }



    /*--------------
        Fittings
    --------------*/
    .fittings .brands .row
    {
        margin-bottom: -16px;
        margin-left: -16px;
    }


    .fittings .brands .row > *
    {
        width: calc(33.333% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .fittings .brands .brand
    {
        height: 96px;
    }



    /*-----------------------------
        Interior design gallery
    -----------------------------*/
    .interior_design_gallery .grid
    {
        height: 440px;
    }


    .interior_design_gallery .item .name
    {
        font-size: 18px;
    }


    .interior_design_gallery .item1 .types
    {
        width: 144px;
    }

    .interior_design_gallery .item2 .types
    {
        width: 160px;
    }



    /*-----------------
        Exact match
    -----------------*/
    .exact_match .why
    {
        order: 2;

        width: 100%;
        margin-top: 48px;
    }


    .exact_match .why .item
    {
        width: calc(25% - 10px);
    }



    .exact_match .before_after
    {
        width: 100%;
    }



    /*-------------------
        What included
    -------------------*/
    .what_included .item
    {
        padding: 19px 20px;
    }


    .what_included .item .thumb
    {
        width: 180px;
        height: 127px;
    }


    .what_included .item .thumb + *
    {
        width: calc(100% - 200px);
        min-height: 127px;

        gap: 12px;
    }


    .what_included .item .name
    {
        font-size: 18px;
    }



    /*------------
        Prices
    ------------*/
    .prices table th + th,
    .prices table td + td
    {
        padding-left: 60px;
    }


    .prices table th
    {
        font-size: 18px;

        padding-bottom: 20px;
    }


    .prices table td.unit
    {
        width: 264px;
    }

    .prices table td.price
    {
        width: 220px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        margin-bottom: 48px;
    }


    footer .contacts
    {
        width: 360px;
    }


    footer .menu
    {
        width: 400px;
        margin-left: 100px;
    }
}
