@media (max-width: 549px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 28px;
        --font_size_title_medium: 20px;
        --font_size_title_small: 18px;
    }


    .cont
    {
        padding: 0 17px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 24px;
    }


    .pagination a
    {
        width: 35px;
        height: 35px;
    }



    /*------------
        Header
    ------------*/
    header .close_btn
    {
        top: 21px;
        right: 17px;
    }


    header .logo img
    {
        width: 139px;
        height: 28px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .logo img
    {
        width: 139px;
        height: 28px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .image
    {
        height: 311px;
    }


    .page_head .image.mob_hide
    {
        display: none;
    }


    .page_head .image.mob_hide + *
    {
        margin-top: 80px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title.small
    {
        font-size: var(--font_size_title_medium);
    }


    .block_head .title small
    {
        font-weight: 200;

        margin-top: 5px;

        text-transform: none;
    }



    /*-----------------
        First section
    -----------------*/
    .first_section .cont
    {
        padding-bottom: 140px;
    }



    .first_section .title
    {
        font-size: var(--font_size_title);
    }


    .first_section .title span:after
    {
        bottom: -6px;
        left: -6px;

        width: 107px;
        height: 10px;
    }


    .first_section .scroll_down_btn
    {
        height: 60px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        margin-left: 0;
    }


    .why_we .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .why_we .item
    {
        min-height: 210px;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .head .summary
    {
        top: 3px;
    }


    .portfolio .row
    {
        margin-bottom: -17px;
    }


    .portfolio .row > *
    {
        margin-bottom: 17px;
    }


    .portfolio .project .price
    {
        text-align: right;

        gap: 0;
    }


    .portfolio .project .price .val
    {
        line-height: 125%;

        width: 100%;
    }


    .portfolio .project .info .col
    {
        width: 100%;
    }


    .portfolio .project .link
    {
        width: 100%;
        margin-top: 16px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        padding: 28px 20px;
    }


    .action_block .title
    {
        font-size: var(--font_size_title);
    }


    .action_block .person .info
    {
        left: 20px;
    }



    /*---------------
        Excursion
    ---------------*/
    .excursion .data .info
    {
        padding: 30px 20px;
    }


    .excursion .data .title
    {
        font-size: var(--font_size_title);
    }



    /*--------------------
        Portfolio item
    --------------------*/
    .portfolio_item .stats
    {
        gap: 10px;
    }


    .portfolio_item .stats .item
    {
        width: calc(50% - 5px);
        height: 112px;

        gap: 10px;
    }


    .portfolio_item .gallery
    {
        width: 100%;
        margin-left: 0;
    }


    .portfolio_item .gallery .item,
    .portfolio_item .gallery .item.big_w
    {
        width: 100%;
        margin-left: 0;
    }


    .portfolio_item .gallery .image,
    .portfolio_item .gallery .image.big_h
    {
        height: 200px;
    }

    .portfolio_item .gallery .image.mob_big_h
    {
        height: 400px;
    }
}
